.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

button {
  background-color: #61dafb;
  border: none;
}

button:active {
  outline: none;
  box-shadow: none;
  
}

.form, .content {
  align-items: center;
}

input {
  border: none;
  width: 300px;
}

input, button {
  padding: 10px;
  font-size: 20px;
}

input:focus, button:focus {
  outline: none;
}

button {
  font-weight: bold;
}

ul {
  padding: 20px 0px 0px 0px;
  margin: 0;
  list-style-type: none;
}

li {
  font-size: 20px;
  cursor: pointer;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: display 300ms ease-in-out;
}

li:hover span {
  display: inline;
}

li span {
  font-size: 20px;
  align-items: center;
  text-align: center;
  display: none;
  margin-right: 20px;
  transition: display 300ms ease-in-out;

}
